html, body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  padding: 5px;
}

canvas {
  display: block;
  max-width: 90vw;
  max-height: 90vh;
}

header {
  background-color: black;
}

li {
  list-style: none;
  display: inline;
  padding: 8px;
}

.header-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mankissGIF {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin:auto;
  margin-top: 110px;
  position: absolute;
  width: 800px;
}

#content-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links {
  display: flex;
  justify-content: right;
  padding: 5px
}

#footer {
    top: 15px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
